*{
    font-family: monospace;
    color: brown;
}

body{
    background-color: aqua;
    background-image: url('vv.png');
    /* background-repeat: no-repeat;
    background-position: right; */
    background-attachment: fixed;
}

#indore {
    color: red;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.goa{
    color: blueviolet;
    font-size: x-large;
}

.division{
    color: white;
    /* border-width: 5px;
    border-color: white;
    border-style: solid; */
    border: 5px red solid;
    /* padding: 15px; */
    padding: 10px 5px 25px 30px;
    margin-top: 50px;
    text-align: justify;
    text-decoration: none;
    text-transform: uppercase;
    text-indent: 15px;
    text-shadow: 20px;
    
}